@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comic+Neue:wght@400;700&display=swap');
html {
    font-size: 18px;
    width: 100%;
    font-family: 'Architects Daughter', cursive;
}

body {
    /*color: white;*/
    /*background-color: #181818;*/
    margin: 0;
}

nav {
    display: flex;
    padding: 30px;
    font-size: 90%;
    justify-content: center;
    /*background-color: #181818;*/
}

nav > a:not(:last-child) {
    margin-right: 60px;
}

nav > a {
    font-size: 120%;
    color: #181818;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: border-bottom-color 300ms;
}

nav > a:hover {
    border-bottom-color: rgba(255,255,255,0);
}

#about-me {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: url("img/bubble-dark.png");*/
}

/*h3 {*/
/*    margin-bottom: 5%;*/
/*}*/

hr {
    border: 1px solid #181818;
    width: 10%;
}

h1, h3 {
    font-family: 'Comic Neue', cursive;
}

p {
    /*font-size: 120%;*/
}

h1 {
    font-size: 250%;
    margin: 10px 0;
}

#about-me > div {
    display: flex;
    margin: 50px;

}

#about-me > div > div {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me > div > div > a {
    padding: 15px;
    border: 1px solid black;

    color: white;
    background-color: #181818;
}

.icons > a:not(:last-child) {
    margin-right: 20px;
}

i {
    font-size: 20px;
    /*color: #181818;*/
}

/*#call-action {
    width: 100%;
    background-color: #181818;
    color: white;
    padding: 50px;
}*/

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: linear-gradient(15deg, rgba(47, 47, 47, 1), #1818180f), url("img/bubble-dark.png");
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    width: 1px;
    font-size: 1px;
    position: absolute;
    left: -100px;
}

#contact > div {
    width: 45%;
}

input {
    /*height: 35px;*/
}
textarea {
    height: 150px;
}

input, textarea {
    font-family: 'Architects Daughter', cursive;
    font-size: 90%;
    margin-bottom: 30px;
    color: #fff;
    border: 1px solid #959393;
    background-color: #fff0;
    transition: background-color 500ms, color 500ms;
    padding: 20px;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #181818;
}